@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family:"Noto Sans", sans-serif;
    
}


header {
        
        
        background-color: #303232;
        top:0px;
        right: 0px;
        left:0px;
        width: 100%;
        height: auto;
        padding: 15px 10px;
        position: fixed;
        z-index: 1000;
        display:flex;
        justify-content:space-between;
        align-items: center;
        flex-wrap: wrap;
    

    nav{
        width: auto;
        .listaFlex{
            display: flex;
            background-color: rgb(0, 128, 0);
            width: 100%;
            list-style: none;
            text-decoration:none;
            justify-content:flex-start;
            flex-wrap: wrap;
            align-items: center;
            font-size:large;
            
            
            li {
                
                margin: 1em 2em;
                a{
                    
                    display:inline-block;
                    box-sizing:content-box;
                    text-decoration: none;
                    color:rgb(244, 245, 239);
                }
            
            }       
        }
    }

    .logo{
        width: 15%;
        height: auto;    
        img{
            color:white;
            width: 80%;
            height:auto;
            border:0.8px solid rgb(233, 207, 207);
            
        }

    }
           
}


main {
    padding-top: 4%;
}


h1{
    color: rgb(244, 245, 239);
    font-size:3vw;
    font-weight: 700;
    backdrop-filter:blur(8px);
    padding: 15px;

}

h2{
    margin:2rem;
    padding:1.5rem;
    text-align: center;
    font-size: 3.5rem;
}

.ofertas {
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    align-items: center;
    margin: 80px 0px;

    h2{
        box-sizing: border-box;
        width: 150px;
        text-align: left;
    }
}


.principal {
    margin-top: auto;
    width: 100%;
    height: 70vh;
    background-image:url("../assets/img/backgroundimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.secciones {
    margin: 1.5rem;
    padding: 2rem;
    background-color: #fff;
}


.productosFlex{

    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    gap:0.5em;
}

.tarjetaItem {
    
    margin:1em;
    padding:1.2em;
    border-style: solid;
    border-color: hwb(70 64% 34% / 0.91);
    border-radius: 10px;
    flex-shrink: 1;
    text-align: center;
}

.listaReparaciones {
    
    display:flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    
    

    img {
        border-radius: 3em;
    }


    .tarjetaServicioTecnico {
        display:flex;
        color: rgb(56, 59, 62);
        border: 3px solid rgb(192, 192, 197);
        border-radius: 3em;
        box-sizing: content-box;
        background-color:rgb(0, 128, 0);

        ul {
            list-style-image: url("../circle-chevron-down-solid.svg");
            li{
                font-size:2em;
                font-weight: bold;
                font-style: italic;
                color:rgb(244, 245, 239);
                margin:2em 3em;
            }
       
        }
    
    }
    
}


.listaFooter {
    display: flex;
    width: 100%;;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    a{
        text-decoration: none;
                    
    }

}   

.fa-cart-shopping {
    display: block;
    color: rgb(234, 244, 244);
    font-size: 1.5em;
}
.fa-whatsapp{

    color: green;
    font-size: 2em;
            
}

.fa-instagram {

    color:red;
     font-size: 2em;
}           
           
   