@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family:"Noto Sans", sans-serif;
    
}
body  {
        background-color: #F2F2F2;
}

header {
        
        
        background-color:rgb(38, 38, 38);
        top:0px;
        right: 0px;
        left:0px;
        width: 100%;
        display: flex;
        height: auto;
        position: fixed;
        z-index: 1000;
        justify-content:space-between;
        align-items: center;
        flex-wrap: wrap;
}

    nav{
        
        .listaFlex{
            display: flex;
            background-color: hsl(0, 79%, 48%);
            width: 100%;
            margin-bottom: 0;
            list-style: none;
            text-decoration:none;
            justify-content:flex-start;
            flex-wrap: wrap;
            align-items: center;
            font-size:large;
          
            li {
                
                margin: 1em 2em;
                a{
                    display:inline-block;
                    box-sizing:content-box;
                    text-decoration: none;
                    color:rgb(244, 245, 239);
                }

                a:hover {
                    color:rgb(128, 171, 95)
                }
            
            }       
        }
    }
    
    
main {
    padding-top: 60px;
    margin-top: auto;
}


h1{
    color: rgb(244, 245, 239);
    font-size:3vw;
    font-weight: 700;
    backdrop-filter:blur(8px);
    padding: 15px;

}

h2{
    margin:2rem;
    padding:1.5rem;
    text-align: center;
    font-size: 3.5rem;
}

.logo{
    display: inline-block;
    border: 2px solid rgb(236, 241, 236);
    border-radius: 20px;
    text-align: center;
    padding:5px 10px;
    font-size:23px;
    font-weight:bold;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    
    /*propiedades de box shadow*/
    box-shadow: 0px 0px 4px 4px rgba(248,250,248,0.49);


}

.ofertas {
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    align-items: center;
    margin: 80px auto;

    h2{
        box-sizing: border-box;
        width: 150px;
        text-align: left;
    }
}


.principal {
    width: 100vw;
    height:80vh;
    background-image:url("../assets/img/backgroundimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.secciones {
    margin: 1.5em 2em;
    padding: 0 2em;
    background-color: #F2F2F2;
}

#titulo-carrito {
    color:#1f2c08;
    margin: 80px auto;
}

.productosFlex{

    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.5em 2em;
    gap:0.5em;
}

.tarjetaItem {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin:1em;
    padding:1.2em;
    border-style: solid;
    border-color: #858282;
    border-radius: 10px;
    text-align: center;
    background-color:#ffffff;
    h3 {
        font-size:large;
        color:#691111;
        font-weight: 400;
    }

    p{
        color:#850404;
        font-weight: 600;
        font-size: 18px; 
    }
    input {
        color:#ffffff;
        background-color: hsl(0, 79%, 48%);
        border-color:rgb(143, 41, 4);
        border-radius: 20px;
        width: 60%;
        height: 3em;
        font-size: medium;
    }
    input:hover {
        background-color: rgba(84, 5, 5, 0.808);
        border-color: #be1010;
        font-weight: 600;

    }
}


.listaReparaciones {
    display:flex;
    background-color: #F2F2F2;
    margin-right: 1em;
    margin-left: 1em;
    align-items: center;
    justify-content:center;
    flex-wrap:wrap;
    column-gap: 50px;

        .imgRep {
                 img {
                    max-width: 100%;
                    border-style: hidden;
                    border-radius: 50%;
                }
        }
       

        .tarjetaServicioTecnico {
            
            display:flex;
            margin:15px 10px;
            color: rgb(56, 59, 62);
            border: 3px solid rgb(192, 192, 197);
            border-radius: 3em;
            background-color:#A62929;
            align-items: center;
            justify-content: center;
    
            ul {
                list-style-image: url("../circle-chevron-down-solid.svg");
                li{
                    font-size:1.5em;
                    font-weight: bold;
                    font-style: italic;
                    color:rgb(244, 245, 239);
                    margin:1.5em 2em;
                }
            }
        }  
        
    }

    .reseñas {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2em 1.5em;
        flex-wrap: wrap;
        margin: 0 auto;

        p {
            background-color: #f7f7f7;
            width: 500px;
            border-top: 10px double #D91A1A;
            border-bottom: 10px double #D91A1A;
            height: auto;
            font-size: 1.2em;
            font-style: italic;
            line-height: 1.5;
            color: #555;
            margin-bottom: 10px;
            padding: 40px 20px;
            text-align: center;
            font-family: Arial, sans-serif;
                    
        }

        p span {
            font-family: sans-serif;
            font-size: 1.2em;
            
            font-weight: 700;
            
        }  
    } 
    
    
    #contacto  {
        width:fit-content;
        margin:50px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        form {
            background-color: #e6e9e7;
            border-radius: 10px;
            border-style: groove;
            margin:0 auto;
            padding: 20px 20px;
            font-size: 17px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            flex-wrap: wrap;
            row-gap: 5px;

            label span {
                color:black;
            }

            .campo {
                border-radius: 5px;
                border-style:groove;
                border-color:rgb(197, 197, 196);
                width:100%;
                height: 30px;
                font-size: 17px;
            }

            textarea {
                border: solid rgb(197, 197, 196);
                border-radius: 5px;
                font-size: 17px;
            }

            .boton {
                margin: 20px auto;
                width: 50%;
                height: 4vh; 
                font-size: larger;
                background-color: #f4efef;
                border-style:groove;
                border-color:rgb(197, 197, 196);
                border-radius: 5px;
            }
        }
    }
    #mainCarrito {
        margin-bottom: 5em;
    }

    
footer {

    background-color: white;
        
    padding-top: 2em;
    .listaFooter {
        display: flex;
        width: 100%;;
        text-decoration: none;
        list-style: none;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        a{
            text-decoration: none;
        }

    }   
}

.contenedorFooter {
    background-color: rgb(38, 38, 38);
    color:#ffffff;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    .tarjetaFooter {
        width: auto;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        
        .contenedorLogoyRedes {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            ul {
                list-style: none;
                text-decoration: none;
                display: inline-flex;
                li {
                    margin: 0px 10px;
                }
            }
        }
         
    }

    .institucional {
        padding:10px 20px;
        h4 {
            margin:20px 0px;
            font-weight: 800;
            font-size: medium;
        }
        ul {
            display:flex;
            flex-direction: column;
            align-items:start;
            justify-content: space-between;
            list-style: none;
            padding-left: 0;
            gap: 15px;

            a{
                text-decoration: none;
                color:#ffffff;
            }

            a:hover {
                color:rgb(128, 171, 95);
            }
        }
    }
 }

 .containerCarrito {
   width: 85%;
   height: auto;
   margin: 0 auto;

 }

 body> footer>  h3 {
    color:black;
    text-align: center;
    font-size: revert;
    font-weight: revert;
    font-family:"Noto Sans", sans-serif;
 }
   
.fa-cart-shopping {
    color: rgb(246, 243, 243);
    font-size: 1.5em;
}
.fa-whatsapp{

    color: rgba(9, 231, 20, 0.616);
    font-size: 3em;
            
}

.fa-instagram {

   color:rgb(253, 253, 253);
   font-size:  3em;
}


/*reglas para pantallas pequeñas* aqui estan todas las modificaciones. Use mucho flexbox porque es responsivo y solo cambié algunos detalles*/
@media only screen and (max-width: 600px){
    header {
        flex-direction: column;
        position: absolute;
        nav {
            flex-wrap: nowrap;
            font-size: medium;
        }
    }

    main {
        margin: 15vh 0;
        padding: initial auto;
    }

    .secciones {
        margin: 0 8px;
        padding-right: 0;
        padding-left:0;
    }

    .ofertas {
        box-sizing:border-box;
        padding: 10px 10px;
    }

    .tarjetaItem {
        max-width: fit-content;
    }

    .principal {
        background-image: none;
        background-color:#be1010;
        width:fit-content;
        height: auto;
        margin: 0 auto;

        h1 {
            font-size: xx-large;
        }

    }
    .imgRep {
        max-width:300px;
    }

    .contenedorFooter {
        flex-direction: column;
        .institucional{
            padding: 20px 0;
        }
    }

       
}

 