@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family:"Noto Sans", sans-serif;
    
}
body  {
        background-color: #F2F2F2;
}

header {
        
        
        background-color:#262626;
        top:0px;
        right: 0px;
        left:0px;
        width: 100%;
        display: flex;
        height: auto;
        position: fixed;
        z-index: 1000;
        justify-content:space-between;
        align-items: center;
        flex-wrap: wrap;
    

    nav{
        
        .listaFlex{
            display: flex;
            background-color: #D91A1A;
            width: 100%;
            list-style: none;
            text-decoration:none;
            justify-content:flex-start;
            flex-wrap: wrap;
            align-items: center;
            font-size:large;
            
            
            li {
                
                margin: 1em 2em;
                a{
                    
                    display:inline-block;
                    box-sizing:content-box;
                    text-decoration: none;
                    color:rgb(244, 245, 239);
                }
            
            }       
        }
    }
    /*arreglar navegacion*/
    .logo{
        display: inline-block;
        border: 2px solid rgb(236, 241, 236);
        border-radius: 20px;
        text-align: center;
        padding:5px 10px;
        font-size:xx-large;
        font-weight:bold;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
        
        /*propiedades de box shadow*/
        box-shadow: 0px 0px 4px 4px rgba(248,250,248,0.49);


    }
}   
           

main {
    padding-top: 60px;
    margin-top: auto;
}


h1{
    color: rgb(244, 245, 239);
    font-size:3vw;
    font-weight: 700;
    backdrop-filter:blur(8px);
    padding: 15px;

}

h2{
    margin:2rem;
    padding:1.5rem;
    text-align: center;
    font-size: 3.5rem;
}

.ofertas {
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    align-items: center;
    margin: 80px 0px;

    h2{
        box-sizing: border-box;
        width: 150px;
        text-align: left;
    }
}


.principal {
    width: 100%;
    height:80vh;
    background-image:url("../assets/img/backgroundimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.secciones {
    margin: 1.5em;
    padding: 0 2em;
    background-color: #F2F2F2;
}


.productosFlex{

    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    gap:0.5em;
}

.tarjetaItem {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin:1em;
    padding:1.2em;
    border-style: solid;
    border-color: #858282;
    border-radius: 10px;
    text-align: center;
    background-color:#ffffff
}


.listaReparaciones {
    display:flex;
    background-color: #F2F2F2;
    margin-right: 1em;
    margin-left: 1em;
    align-items: center;
    justify-content:center;
    flex-wrap:wrap;
    column-gap: 50px;

        .imgRep {
            img {
                width: 35vw;
                height: auto;
                border-style: hidden;
                border-radius: 50%;
            }
            
        }
       

        .tarjetaServicioTecnico {
        
            display:flex;
            margin:15px 10px;
            color: rgb(56, 59, 62);
            border: 3px solid rgb(192, 192, 197);
            border-radius: 3em;
            background-color:#A62929;
            align-items: center;
            justify-content: center;
    
            ul {
                list-style-image: url("../circle-chevron-down-solid.svg");
                li{
                    font-size:1.5em;
                    font-weight: bold;
                    font-style: italic;
                    color:rgb(244, 245, 239);
                    margin:1.5em 2em;
                }
           
            }
        
        }  
        
    }

    .reseñas {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em 1.5em;
        flex-wrap: wrap;

        p {
            background-color: #262626;
            color:#ffffff;
            font-size: 1.2em;
            font-style: italic;
            padding: 20px 30px;
            border:solid;
            border-radius: 12px;
            box-shadow: 0px 0px 4px 4px rgba(68, 71, 82, 0.49);
            
        }

        p span {
            font-family: sans-serif;
            font-size: 1.2em;
            
            font-weight: 700;
            
            
           
                   
    
        }  
    }    

    
    


footer {

            background-color: white;
            
    h3 {
        text-align: center;
    }
    padding-top: 2em;
    .listaFooter {
        display: flex;
        width: 100%;;
        text-decoration: none;
        list-style: none;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        a{
            text-decoration: none;
                        
        }

    }   
}


.fa-cart-shopping {
    color: rgb(234, 244, 244);
    font-size: 1.5em;
}
.fa-whatsapp{

    color: green;
    font-size: 2em;
            
}

.fa-instagram {

    color:red;
     font-size: 2em;
}           
           
 